
    .input-text {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .translation-text {
        max-width: 100%;
        word-wrap: break-word;
    }